<div class="pageheader">
	<h2>Dashboard</h2>
	<p class="description">{{main.headerText}}</p>
	<div class="breadcrumb-wrapper hidden-xs">
		<span class="label">You are here:</span>
		<ol class="breadcrumb">
			<li class="active">Dashboard</li>
		</ol>
	</div>
</div>
<section id="main-content">
	<div class="row">
		<div ng-repeat="(parentName, parent) in serversParent">
			<div class="col-md-6 col-lg-6">
			
				<div class="panel panel-primary">
					<div class="panel-heading">
						<h3 class="panel-title">{{parentName}}</h3>
						<div class="actions pull-right">
	                    	<i data-fullscreen-widget class="fa fa-expand"></i>
	                        <i data-widget-toggle class="fa fa-chevron-down"></i>
	                        <i data-widget-close class="fa fa-times"></i>
	                    </div>
					</div>
					
					<div class="panel-body">
						<div>
							<div>Total Sessions: {{parent["active-sessions"]}}</div>
						</div>
						
						<div ng-repeat="server in parent" class="server panel panel-default">
							<div class="panel-heading {{server.status}}">
								<h3 class="panel-title">{{server.name}} - {{server.host}}</h3>
							</div>
							<div class="panel-body">
								<div class="deploys" ng-init="deploy(server)">
									<div ng-repeat="deploy in server.deploys" class="deploy">
										<div ng-show='deploy.subsystem.web["active-sessions"]' ng-init='sumGroup(parentName, deploy.subsystem.web["active-sessions"])'>
											{{ deploy.subsystem.web["context-root"] }}
											<div class="active-sessions">
												Active sessions: {{ deploy.subsystem.web["active-sessions"] }}
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					
				</div>
			</div>
		</div>
	</div>
</section>
